---
import Profile from '../profile.json';
---
<section id="projects">
    <header>
        Projects
    </header>
    <content>
        <list>
            {Profile.projects.map(
                project => (
                    <details>
                        <summary>
                            <div id="name">
                                {project.name}
                            </div>
                        </summary>
                        
                        <content>
                            <h5>
                                Description
                            </h5>
                            {project.description}

                            <h5>
                                Skills
                            </h5>
                            <ul>
                                <li>
                                    <h5>
                                        Hard
                                    </h5>
                                    <ul>
                                        {project.skills.hard.map(skill => <li> {skill} </li>)}
                                    </ul>
                                </li>
                                <li>
                                    <h5>
                                        Soft 
                                    </h5>
                                    <ul>
                                        {project.skills.soft.map(skill => <li> {skill} </li>)}
                                    </ul>
                                </li>
                            </ul>

                            <h5>
                                Reflection
                            </h5>
                            {project.reflection}
                        </content>
                    </details>
                )
            )}
        </list>
    </content>
</section>

<style>

section > content {
    margin: 0;
    padding: 0;
}

list {
    display: block;
    margin: 0;
    padding: 0;
}

list > details {
    margin: 0;
    padding: 0;
}

list > details:hover {
    cursor: pointer;
    background: #202020;
}

list > details[open] {
    background: #202020;
}

list > details summary {
    display: flex;
    margin: 0;
    padding: 1em;
}

list > details summary #name {
    flex: 1 1 auto;
    padding: 0.25em;
    font: normal 12px/12px Oxanium, sans-serif;
    text-transform: uppercase;
}

list > details summary #skills {
    flex: 0 1 auto;
}

list > details content {
    display: block;
    background: #181818;
    margin: 0;
    padding: 1em;
}

</style>